<!-- launch file -->

<launch>
	<!-- node pkg="rosbag" name="rosbag_record" type="record" args="-a"/ -->

    <arg name="Pixhawk_device" default="/dev/ttyS0"/>
	<arg name="GCS_device" default="/dev/ttyUSB0"/>

	<arg name="serial_baudrate_GCS" default="57600" />
	<arg name="serial_baudrate_pixhawk" default="921600" />


	<!-- Used to mock heartbeats. If set to true, mavlink outputs heartbeats by itself -->
	<arg name="heartbeats" default="false" />


	<node  ns="Pixhawk" pkg="mavlink_lora" type="mavlink_lora_node" name="mavlink_lora" respawn="true" output="screen" >
		<param name="serial_device" value="$(arg Pixhawk_device)"/>
		<param name="serial_baudrate" value="$(arg serial_baudrate_pixhawk)" />
		<param name="heartbeats" value="$(arg heartbeats)" />
	</node>

	<node ns="GCS" pkg="mavlink_lora" type="mavlink_lora_node" name="mavlink_lora" respawn="true" output="screen" >
		<param name="serial_device" value="$(arg GCS_device)"/>
		<param name="serial_baudrate" value="$(arg serial_baudrate_GCS)" />
		<param name="heartbeats" value="$(arg heartbeats)" />
	</node>

</launch>

