<?xml version="1.0"?>

<model>
  <name>Aruco Marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Chris Bruun Mikkelsen</name>
    <email>chmik13@student.sdu.dk</email>
  </author>

  <description>
    Marker for master thesis - 2020 
  </description>

</model>
